<div class="sidebar-card">
  <h4><span class="material-icons-outlined" style="font-size:16px">menu_book</span> Ký hiệu chính</h4>
  <table class="symbol-table">
    <tr><td>\(\lambda\)</td><td>Tốc độ đến (arrival rate)</td></tr>
    <tr><td>\(\mu_1\)</td><td>Tốc độ phục vụ server 1</td></tr>
    <tr><td>\(\mu_2\)</td><td>Tốc độ phục vụ server 2</td></tr>
    <tr><td>\(\pi_{i,j}\)</td><td>Xác suất dừng tại trạng thái \((i,j)\)</td></tr>
    <tr><td>\(L\)</td><td>Số khách trung bình trong hệ</td></tr>
    <tr><td>\(W\)</td><td>Thời gian chờ trung bình</td></tr>
    <tr><td>\(P_B\)</td><td>Xác suất bị chặn</td></tr>
  </table>
</div>
